.mpd {
    display: flex;
    max-width: 1920px;
    height: 800px;
    box-sizing: border-box;
    margin: 20px;
    gap: 5px;
    overflow: hidden
}

.purpleOutlineDiv {
    border: 3px solid #741cb8;
    color: black
}

.purpleOutlineDiv:hover {
    background-color: #EEEEEE;
}

.colorDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.firstDiv {
    border-radius: 12px 0px 0px 12px;
}

.lastDiv {
    border-radius: 0px 12px 12px 0px;
}

.cube {
    font-size: 40px;
}

.divBorderBottom {
    width: 100px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

p.smallText {
    font-size: 18px;
}

.blackBorder {
    border: 3px solid black;
    border-radius: 12px;
    padding: 10px;
}

.flex-start {
    /* transition:
    justify-content 1.5s .5s,
    padding-top 1.5s .5s,
    font-size 1.5s .5s; */
    justify-content: flex-start;
    padding-top: 30px;
    font-size: 30px;
}

/* .flex-start:hover {
    justify-content: flex-start;
    padding-top: 30px;
    font-size: 30px;
} */


.listingDiv {
    display: flex;
    max-width: 320px;
    height: 100px;
    box-sizing: border-box;
    flex-direction: column;
}

.listingDiv fieldset {
    margin: 0px;
    padding: 0px;
    background-color: white;
    cursor: pointer;
}

.listingDiv legend {
    font-size: 14px;
}

.listingDiv .listingSection {
    display: flex;
    flex-direction: column;
    width: fit-content;
    overflow: hidden;
}

.listingDivImg {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 5px;
}

.listingP {
    max-width: 250px;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 1px 5px;
}

.boldFont {
    font-weight: bold;
}

.listingWidget {
    width: fit-content;
    max-width: 300px;
    max-height: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    /* overflow-y: scroll; */
}

.pDiv {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: fit-content;
    box-sizing: border-box;
}

.pDiv .desc {
    display: block;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.newListingMainDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
}

h4 {
    margin-bottom: 5px;
}

select {
    height: 30px;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}


.expandedListingDiv {
    display: flex;
    gap: 10px;
}

.eldMain {
    max-width: 500px;
    max-height: 300px;
    border: 2px solid #741cb8;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eldImg {
    max-width: 220px;
    max-height: 200px;
    border-radius: 12px;
}
.eldMain .eldImg {
    margin: 5px;
}

.smallerImage {
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

.eldImgLogo {
    width: 220px;
    height: 150px;
}

.eldButtonGroup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%
}

.eldEdit {
    color: #741cb8;
    font-size: 30px;
}

.eldDelete {
    color: red;
    font-size: 30px;
}

.eldAccept {
    color: rgb(108, 223, 108);
    font-size: 30px;
}

.grayedIcon {
    color: gray
}

.noMargin {
    margin: 0px;
}

.eldDetails {
    margin-top: 25px;
}

.eldButtonText {
    font-weight: bold;
}

.eldSeparateButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.linkDupeSpan {
    text-decoration: underline;
    color: #741cb8;
}

/* CONFIRM ACCEPT MODAL */
.camMain {
    width: 400px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border: 2px solid black
}

.camMain header {
    background-color: #741cb8;
    font-size: 40px;
}

.camMain p {
    font-size: 14px;
    padding: 10px;
}

.camMain button {
    width: 200px;
    height: 100px;
    cursor: pointer;
}

.camMain .red {
    background-color: red;
}

.camMain .green {
    background-color: greenyellow;
}

/* NO BID MODAL */

.nbmMain {
    width: 350px;
    height: 250px;
}

.nbmMain .ok {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.ok button {
    font-size: 30px;
}

/* EDIT LISTING MODAL */

.elmMain {
    height: fit-content;
    width: fit-content;
    gap: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.elmMain header {
    background-color: inherit;
}

.elmMain .buttonDiv {
    display: flex;
    align-items: flex-end;
}

.elmPic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 3px;
}

.elmDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elmTooltip {
    background-color: white;
    width: 100px;
    align-self: center;
}

.shpMain {
    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
}

.sscMain {
    max-width: 300px;
    box-sizing: border-box;

}

.sscMain h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 300px;
}

.sccDetails {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 280px;
}

.sccDetails p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    max-width: 250px;
}

.sccIcon {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}

.sscMain section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.shopMenu-dropdown {
    position: fixed;
    background: white;
    width: fit-content;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: -2px 2px 5px 5px #EEEEEE;
}

.sscMenuContainer {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.esmMain {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #741cb8;
}

.esmButtonGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
}

.esmButton {
    font-size: 30px;
    box-shadow: -2px 2px 5px 5px #EEEEEE;
    padding: 10px;
    margin: 5px 10px;
    cursor: pointer;

}


.cancel {
    color: red;
}

.accept {
    color: rgb(150, 204, 69);
}

.sab {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
}

.sabIcon {
    font-size: 40px;
    margin: 0px;
    padding: 0px;
}

.slightMargin {
    margin: 10px;
}

.slightMargin h1 {
    text-decoration: underline;
}

.slightMargin h2 {
    text-decoration: underline;
    cursor: pointer;
}

.clpMain {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    max-width: 1920px;
    width: fit-content;
    box-shadow: -2px 2px 5px 5px #EEEEEE;
    padding: 20px;
    margin-top: 20px;
}

.clpMain form {
    font-size: 18px;
}

.clpExplain {
    font-size: 14px;
    font-style: italic;
    text-wrap: wrap;
    max-width: 400px;
    text-indent: 5px;
}

.clpMain select {
    margin-bottom: 20px;
}

.clpMain button {
    border: none;
    width: 50%;
    box-shadow: -2px 2px 2px 2px #EEEEEE;
    background-color: inherit;
    cursor: pointer;
}

.clpSubmit {
    font-size: 30px;
    color: rgb(108, 223, 108);
}

.clpButtonDiv {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.clpTextarea {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.grayedOut {
    color: gray;
    cursor: not-allowed;
    font-size: 30px;
}

.notAllowed {
    cursor: not-allowed;
}

.smdMain {
    max-width: 300px;
    height: fit-content;
    border-bottom: 1px solid #741cb8;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.message {
    max-width: 200px;
    display: block;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.smdMain .listingP {
    margin: 0px
}

.messagesDownArrow {
    color: #741cb8;
    font-size: 40px;
    cursor: pointer;
}

.messagesDownArrow:hover {
    color: #9436db;
}

.lldMain {
    display: flex;
    font-size: 14px;
    border: 1px solid black;
    align-items: center;
    max-width: 270px;
    background-color: white;
    cursor: pointer
}

.lldMain p {
    border-right: 1px solid black;
    margin: 1px;
    width: 90px;
}

.lldMain p.end {
    border-right: none;
}

.lhwMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 16px;
    margin-top: 10px;
}

.iubMain {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.iubForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.iubMain img {
    max-width: 300px;
    max-height: 300px;
}

.iubMain button {
    height: 20px;
    width: 60px;
}

.elmMain button {
    height: 35px;
    border: none;
    width: 50%;
    box-shadow: -2px 2px 2px 2px #EEEEEE;
    background-color: inherit;
    cursor: pointer;
}

.elmFileInput {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.lidMain {
    margin-bottom: 20px;
}

.ideTextDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previewImageLink {
    font-size: 16px;
    margin-right: 5px;
}

.ideExplainer {
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
    align-items: center;
}

.ideDeleteAll {
    height: 20px;
}

.ideDelete {
    color: red;
    font-size: 20px;
}

.generatedIde {
    display: flex;
    align-items: center;
}

.ideMain {
    font-size: 14px;
    margin-bottom: 10px;
}
