.alfMain {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.afsl {
    display: flex;
    border: 2px solid #741cb8;
    margin: 5px;
    padding: 0px 8px;
    border-radius: 8px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.afsl input {
    width: 40px;
}

.afsl img {
    max-width: 120px;
    max-height: 120px;
    border-radius: 8px;
    cursor: pointer;
}

.afsl-image {
    width: 120px;
    height: 120px;
}

.afsl p {
    margin: 0px;
}

.afsl button {
    font-family: inherit;
    width: 95%;
    padding: 10px;
    background-color: white;
    font-size: 30px;
    box-shadow: 2px 2px 2px 2px #EEEEEE;
    border: none;
    min-width: 100px;
}

.quickbid {
    width: 120px;
    height: 100%;
    padding: 5px;
    background-color: white;
    box-sizing: border-box;
}

.breaker-listing {
    height: 80px;
    border-left: 1px solid black;
}

.afsl h4 {
    margin-top: 0px;
}

.qbMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    height: 100%;
    background-color: white;
    gap: 2px;
    padding: 1px;
}

/*
.afsl:hover {
    background-color: #EEEEEE;
} */

.not-allowed {
    cursor: not-allowed;
}

.alreadyBid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitted {
    font-size: 50px;
}

.abwd {
    font-size: 14px;
}

.abwd fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.abwd p {
    margin: 0px;
}

.addressWrap {
    overflow: auto;
    text-wrap: wrap;
}

.abwd-link-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.abwd-contact-info {
    display:flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}

.abwd-message {
    font-size: 25px;
    cursor: pointer;
}

.cld-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedcube {
    font-size: 50px;
    margin-bottom: 10px;
    color:#741cb8;
}
