.slpMain {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    width: 500px;
    margin: auto;
    align-items: center;
    box-shadow: -2px 2px 5px 5px #EEEEEE;
    margin-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.slpMain img {
    max-height: 300px;
    max-width: 300px;
}

.defaultImg {
    height: 200px;
    width: 200px;
}

.sbMain {
    max-height: 300px;
    display: flex;
    gap: 20px;
    border: 1px solid black;
    padding: 10px;
    text-overflow: ellipsis;
}

.slpDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.slpDetail {
    display: flex;
    gap: 10px;
}

.slpDesc {
    display: flex;
    flex-direction: column;
    text-indent: 10px;
    align-items: center;
}
.slpDesc p {
    margin: 0px 10px;
}
.slpDetail p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.bd {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    padding: 10px;
    overflow-y: scroll;
    gap: 10px;
}

.sbMain p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.sbMain span {
    font-weight: bold;
}

.sbDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sbButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.messageIcon {
    color: #741cb8
}

.sbButtonGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    margin-top: 0px;
    margin-bottom: 2px;
}

.tooltipText {
    visibility: hidden;
    position: absolute;
    background-color: none;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    transition-delay: 150ms;
    padding-left: 12%;
}

.tooltipDiv:hover .tooltipText {
    visibility: visible;
}



.abMain {
    max-height: 300px;
    display: flex;
    gap: 20px;
    border: 1px solid black;
    padding: 10px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.iconRevoke {
    color: red;
    font-size: 30px;
}

.buttonizer {
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: -2px 2px 2px 2px #EEEEEE
}
