.nmmMain {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid black;
}

.buttons {
    font-size: 30px;
    box-shadow: 5px 5px 5px 5px #EEEEEE
}

.nmmMain form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;

}

.nmmMain textarea {
    width: 80%;
    font-size: 16px;
}

.nmmMain h1 {
    margin-top: 1px;
}

.nmmMain h1 {
    background-color: #EEEEEE;
    padding: 10px;
}

.nmmMain button {
    font-size: 18px;
}

.mhmMain {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding: 10px;
}

.mhmMain .replyContainer {
    max-height: 550px;
    overflow-y: scroll;
}

.srmMain {
    text-wrap: wrap;
    max-width: 400px;
    border: 1px solid black;
    margin: 10px 0px;

}

.yours {
    background-color: #EEEEEE;
}

.bcmMain {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    max-width: 300px;
    padding: 10px;
}

.bcmMain h2 {
    margin-top: 0px;
}

.bcmMain p {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.bcmMain button {
    border: none;
    width: 50%;
    box-shadow: -2px 2px 2px 2px #EEEEEE;
    background-color: inherit;
    cursor: pointer;
}

.bcmSubmit {
    font-size: 30px;
    color: rgb(108, 223, 108);
}

.bcmGoBack {
    color: red;
    font-size: 30px;
}

.previewImage {
    max-height: 650px;
    max-width: 650px;
}

.previewImageButtonDiv {
    display: flex;
    justify-content: center;
}

.previewImageClose {
    height: 100px;
    width: 100px;
    position: absolute;
    cursor: pointer;
}
